/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Alegreya Sans SC';
    background: linear-gradient(180deg, #FAF6FE 0%, #C7B0D8 100%);
    color: #2f1696;
    position: relative;
}

.flex-container {
    display: flex;
    position: relative;
    top: 12vh;
}

.left-div, .right-div {
    display: inline-flex;
    height: 257px;
    flex-shrink: 0;
}

.left-div {
    padding: 5% 0 5% 5%;
    justify-content: flex-end;
}

.right-div {
    flex-direction: column;
    padding: 7.5% 5% 1% 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4%;
    position: relative;
    top: 0; /* Ajusta según sea necesario */
}

.Presentación
{
    position: absolute;
    margin-left: 50%;

/* Ajusta según sea necesario */
}

h4{
    width: 34vw;
    color: #1c1c96;
    font-family: 'Alegreya Sans SC';
    font-weight: 400;
    font-size: 3.25vw;
    letter-spacing: -1.50px;
    word-wrap: break-word;
    margin-top: 10vh;
    margin-left: 2.5vw;
    margin-bottom: 0.9vw;
    line-height: 99.313%;

}

.Interes{
    text-align: left;
    font-size: 1vw;
    width: 33vw;
    padding: 0.5% 5% 1% 8%;
    position: relative; /* Ajusta según sea necesario */
}

.presentacion-Img {
    background-color: transparent;
    width: 22vw;
    height: 65vh;
    border: 1px solid #0A3980;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0.5vw; /* Ajusta según sea necesario */
    position: absolute;
    margin-left: -20vw;
    z-index: -1;
    /* Ajusta según sea necesario */
}

.presentacion-Img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0.5vw;
    box-sizing: border-box;
}


.Mis-Proyectos {
    display: inline-flex;
    flex-direction: column;
    font-size: 2vw; /* Ajusta según sea necesario */
    letter-spacing: 1.1px;
    padding: 10% 0 10% 5%; /* Ajusta según sea necesario */
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

button {
    background-color: transparent;
    border: none;
    margin-right: 1vw; /* Ajusta según sea necesario */
    cursor: pointer;
    color: #623df8ce;
    font-family: 'Alegreya Sans SC';
    font-size: 1.5vw; /* Ajusta según sea necesario */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: lowercase;
}

.action {
    color: #4426bdce;
    font-family: 'Alegreya Sans SC';
    font-size: 2vw; /* Ajusta según sea necesario */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    padding: 1.5% 2%; /* Ajusta según sea necesario */
    border-radius: 2vw; /* Ajusta según sea necesario */
    border: 1px solid #1c1c96;
}

.mas {
    font-size: 1.5vw; /* Ajusta según sea necesario */
    letter-spacing: 0.72px;
    margin-top: 3%;
    padding: 1.5% 2%; /* Ajusta según sea necesario */
    border-radius: 2vw; /* Ajusta según sea necesario */
    border: 1px solid #623df8ce;
}

h1, h5 {
    color: #623df8ce;
    font-family: 'Alegreya Sans SC';
    font-size: 1.5vw; /* Ajusta según sea necesario */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}

/* Estilos de la landing page */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding: 0;
}

.trabajos {
    display: flex;
    width: 100%;
    height: 200vh;
    padding: 0;
}

/* Otros estilos y media queries... */
@media (max-width: 768px) {
    /* Ajustes para pantallas más pequeñas */
    h1, h5, h2 {
        font-size: 4vw; /* Ajusta según sea necesario */
    }
    .Mis-Proyectos {
        padding: 10% 0 10% 3%; /* Ajusta según sea necesario */
    }
    /* Agrega más ajustes según sea necesario */
}

.Mis-Proyectos {
    display: inline-flex;
    flex-direction: column;
    font-size: 2vw;
    letter-spacing: 1.1px;
    padding: 10% 0 10% 5%;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding: 0;
}

/* Hola! Me llamo Isi*/
h2 {
    width: 40vw;
    color: #1c1c96;
    font-family: 'Alegreya Sans SC';
    font-weight: 300;
    font-size: 5.25vw;
    letter-spacing: -1.50px;
    word-wrap: break-word;
    margin-bottom: 2vw;
}

/* Me apasiona...*/
h5 {
    font-family: 'Alegreya Sans';
    width: 35vw;
    color: #4426bdce;
    font-size: 1.85vw;
    letter-spacing: 0.84px;
    margin-bottom: 2vw;
}

.trabajos {
    display: flex;
    width: 100%;
    height: 200vh;
    padding: 0;
}

#proyectos {
    position: relative;
    display: flex;
    flex-direction: column;
}

.trabajos-text {
    display: inline-flex;
    flex-direction: column;
    width: 80vw; /* Ajusta según sea necesario */
    height: 50vh; /* Ajusta según sea necesario */
    padding: 10% 0.093px 5% 0;
    align-items: center;
    gap: 5px;
    letter-spacing: 1.1px;
}

.trabajos-Img {
    background-color: transparent;
    width: 65vw;
    height: 65vh;
    margin-left: auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 1px solid #0A3980;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1vw; /* Ajusta según sea necesario */
    position: relative;
    top: -1vw; /* Ajusta según sea necesario */
}

.trabajos-Img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0.5vw;
    box-sizing: border-box;
}

/*img {
    padding: 1vw 1vh;
    max-width: 60vw;
    height: 60vh;
    display: block;
}*/

h3 {
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h6 {
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    width: 25vw;
    text-align: center;
    font-family: 'Lato';
    font-size: 1.5vw; /* Ajusta según sea necesario */
}

/* Estilos del pie de página */
footer {
    background-color: transparent;
    padding: 1%;
    text-align: center;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .Mis-Proyectos {
        padding: 10% 0 10% 3%;
    }

    h2, h3, h5 {
        font-size: 4vw;
    }

    h6, p {
        font-size: 1.5vw;
    }

    .trabajos-text, .trabajos-Img {
        width: 90vw;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #623df8ce;
    float: right;
    font-size: 30px;
    font-weight: medium;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.gallery img {
    width: 700px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.gallery img:hover {
    border: 0px solid #777;
}

.text p {
    font-size: 16px;
    text-align: center;
} 


/* Lenis CSS */
html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }